spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/products_db
    username: products_user
    password: products_password
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
